.container{
    margin: 0%;
    display:flex;
    justify-content: space-evenly; 
}
.container p{
    background-color:bisque;
}
.section1{
    
    margin: 1%;
}
.section2{
    
    margin: 1%;
}
.section3{
   
    margin: 0.5%;
}
.first{
    align-items: end;
    color:sienna;
    margin: 0%;
}
#first{
    text-align: right;
}
.second{
    align-items: end;
    color: sienna;
    margin: 0%;
}
#second{
    text-align:right;
}
.third{
    align-items: end;
    color:sienna;
    margin: 0%;
}
#third{
    text-align: right;
}
.container h2{
    margin: 0;
}
.main1{
    background-color:aqua ;
    color:tomato;
}
.main2{
    background-color: burlywood;
    color: blue;
}
.main3{
    background-color:cadetblue;
    color:brown;
}
@media screen and (max-width:767px){
    div.container{
        display: inline;
        justify-content: space-evenly;
    }
}
@media screen and (max-width:991px) and (min-width:768px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .container1,
    .container2{
        flex-basis:50%;
    }
    .container3{
        flex-basis: 100%;
    }
}
@media screen and (max-width:992px){
    div.container{
        justify-content: space-evenly;
    }
}